#nav-container
  #nav-captions
    .nav-caption#cap-0 HOME
    .nav-caption#cap-1 ABOUT
    .nav-caption#cap-2 2012
    .nav-caption#cap-3 2013
    .nav-caption#cap-4 TEAM
    .nav-caption#cap-5 CONNECT
  
  %svg#nav-logo
    %path.nav-piece.js-nav{:target => "0"}
    %path.nav-piece.js-nav{:target => "1"}
    %path.nav-piece.js-nav{:target => "2"}
    %path.nav-piece.js-nav{:target => "3"}
    %path.nav-piece.js-nav{:target => "4"}
    %path.nav-piece.js-nav{:target => "5"}
    %path.nav-piece.js-nav{:target => "6"}
    - color = "#B82025"
    - color = "white"
    %path.nav-outline{:fill => "none"}
    -# :d => "M 294 107.68 A 156,156 0 0,0 107.68 294", 
    -# :d => "M 288 134 A 101.2,101.2 0 0,0 229 328", 
    %path.nav-outline{:fill => "none"}