#about.panel.txt
  .about-container
    %table.about-nav
      %tr
        %td.about-link.selected{:target => "mission"} MISSION
        %td.about-link{:target => "philosophy"} PHILOSOPHY
        %td.about-link{:target => "today"} GAKKO, TODAY
        %td.about-link{:target => "vision"} VISION

    .about-content.mission.shown
      .about-left
        %p Our mission is to make a great many rainbows in the hearts of all children everywhere.
    .about-content.philosophy
      .about-left
        %p 
          We believe that...
          %a{:href => "http://www.youtube.com/watch?v=OQSNhk5ICTI"} DOUBLE RAINBOWWWWW
    .about-content.today
      .about-left
        %p Content for gakko, today, tomorrow and WHENEVA
    .about-content.vision
      .about-left
        %p We all love schools and envision changing the world for many people one day.
        %p In particular, we would like everyone in schools to upgrade to #3 pencils; it's about time. Also students should learn always in a handstand position so their heads can have more blood to think with.
        %p These are just some of the small, but grand reforms we have planned. Once our tanks (see THINK TANK circle) take over the world, implementing our ideals will be easy as pi.
      .about-right
        .circle.camp
          .circle-text
            %p GAKKO
            %p.bold CAMP
          .circle-overlay.js-nav{:target => 2}
            %p 
              GAKKO
              %span.bold CAMP
            .body-text
              %p Summer 2013
              %p 10 days, 10 classes, 30 high school students
              %p Click here for a recap of GAKKO 2012

        .circle.tech
          .circle-text
            %p GAKKO
            %p.bold TECH
          .circle-overlay
            %p 
              GAKKO
              %span.bold TECH
            .body-text
              %p WE ARE THE ULTRA GEEKS
              %p WHO ARE OUT TO CREATE DORKY 2012

        .circle.tank
          .circle-text
            %p GAKKO
            %p.bold THINK TANK
          .circle-overlay
            %p 
              GAKKO
              %span.bold THINK TANK
            .body-text
              %p OUR TANKS WILL TAKE OVER THE WORLD
              %p PEACE ON EARTH, DOE