.navbar
  #menu
    %a#home-logo{:href => "#home"}
      %img{:src => "img/titlelogo2.png", :height => "20px", :width => "75px"}
    %a#twitter-link{:href => "http://twitter.com/gakkoproject"}
      %img{:src => "img/twitter.png"}
    %a#facebook-link{:href => "http://facebook.com/gakkoproject"}
      %img{:src => "img/facebook.png"}
    %a#apply-link{:href => "#apply"} APPLY
    %a#about-link{:href => "#about"} ABOUT
    %a#home-link{:href => "#home"} HOME

%header#home
  %hgroup
    %img#logo{:src => "img/logohover.png"}
  #mc_embed_signup
    %form.validate{:action => "/signup"}
      #success{:style => "display:none"} Thank you for your signup!
      %input#mce-EMAIL.required.email{:value => "", :name => "EMAIL", :placeholder => "Enter your email for GAKKO 2013 updates!"}
      #mce-responses.clear
        .response#mce-error-response{:style => "display: none;"}
        .response#mce-success-response{:style => "display: none;"}
      .clear
      %button#mc-embedded-subscribe.submit-button{:type => "submit", :value => "Subscribe", :name => "subscribe"}
        %span.hide-text Submit
  .clear
  #news
    %h1
      %em.handle
        Follow @GAKKOPROJECT on twitter:
      .tweet
      
#about.panel
  .content
    .subcont
      %img.minilogo{:src => "img/minilogo.png"}
    #concept.asubcont
      %h2 RE-EXAMINING EDUCATION
      %p GAKKO is a summer project that brings together creative college students from around the world to design and conduct a week-long school in Japan. Through GAKKO we are trying to question the current paradigm of education and suggest a new approach to learning. We think school should be a more creative, motivating, and inspiring place where people are happy to learn and engaged in teaching. We want the world to know that we care about education; at GAKKO we question learning. 

    #gakko2012.asubcont.hide
      %h2 GAKKO 2012 in NAOSHIMA, JAPAN
      %p In the summer of 2012, GAKKO launched its inaugural camp on NAOSHIMA Island in Japan. 12 students from Yale and Harvard traveled to Japan for 3 weeks to design and conduct a school from scratch. GAKKO invited 30 high school students from 6 countries to participate in the first GAKKO camp which took place in the beginning of August on Naoshima. Kohai and sempai have remained in close contact since our emotional closing ceremony at the end of the week. We can only hope that the magic of the first year will return to us next summer! 
    %br
    %a#previous.button{:href => "#about"}
      %i.icon-arrow-left
    %a#id1.button.selected{:href => "#about"} 1
    %a#id2.button{:href => "#about"} 2
    %a#next.button{:href => "#about"}
      %i.icon-arrow-right

#apply.panel
  .content
    %h1 GAKKO 2013 APPLICATION
    %h2 GAKKO 2013 : 7/24 - 8/10 in JAPAN 
    %p This team for GAKKO 2013 will gather together in Tokyo for two weeks of program preparation on 7/24. During this time, the curriculum will be sharpened, activities will be hammered out, meetings with sponsors and guest teachers will take place. Above all, these two weeks are a time for the team to develop into the well-oiled machine that made GAKKO 2012 a successful reality. Once ready, the team will travel to Shodoshima, the island on which kohai and sempai will come together for a week to question learning for a second time. 
    %br
    %p We are looking for inspiring college students and graduate school students to join our team for our journey! Application will be open until December 6th, and there will be an interview either on Skype or in person. Our decisions will be announced by December 20th. 
    %h2 Deadline : December 6th  /  Results  : December 20th
    %a{:href => "https://docs.google.com/spreadsheet/viewform?formkey=dFZ3clBVMVFsLXhHeUVCTm51NGY0aWc6MQ"}
      %h2 APPLY HERE NOW! 
