#nav-container
  %img.nav-img{:src => "/images/nav/expanded_about.png", :angle => 0}
  %img.nav-img{:src => "/images/nav/expanded_2012.png", :angle => 18}
  %img.nav-img{:src => "/images/nav/expanded_team.png", :angle => 36}
  %img.nav-img{:src => "/images/nav/expanded_2013.png", :angle => 54}
  %img.nav-img{:src => "/images/nav/expanded_gallery.png", :angle => 72}
  %img.nav-img{:src => "/images/nav/expanded_connect.png", :angle => 90}
  %img.nav-img.hover.hidden{:src => "/images/nav/expanded_about-hov.png", :angle => 0}
  %img.nav-img.hover.hidden{:src => "/images/nav/expanded_2012-hov.png", :angle => 18}
  %img.nav-img.hover.hidden{:src => "/images/nav/expanded_team-hov.png", :angle => 36}
  %img.nav-img.hover.hidden{:src => "/images/nav/expanded_2013-hov.png", :angle => 54}
  %img.nav-img.hover.hidden{:src => "/images/nav/expanded_gallery-hov.png", :angle => 72}
  %img.nav-img.hover.hidden{:src => "/images/nav/expanded_connect-hov.png", :angle => 90}
  :plain
    <!--
      <path id="logo-path" fill="rgba(187, 24, 24, 0.7)" fill-rule="evenodd" stroke="none" /> --> 
