#nav-container
  #nav-captions
    .nav-caption#cap-1 About
    .nav-caption#cap-2 2012
    .nav-caption#cap-3 Team
    .nav-caption#cap-4 2013
    .nav-caption#cap-5 Gallery
    .nav-caption#cap-6 Contact

  :plain
    <svg id="nav-logo">
      <path class='nav-piece' target='1' fill='#513E37' fill-opacity='0.5' stroke='none' />
      <path class='nav-piece' target='2' fill='#513E37' fill-opacity='0.5' stroke='none' />
      <path class='nav-piece' target='3' fill='#513E37' fill-opacity='0.5' stroke='none' />
      <path class='nav-piece' target='4' fill='#513E37' fill-opacity='0.5' stroke='none' />
      <path class='nav-piece' target='5' fill='#513E37' fill-opacity='0.5' stroke='none' />
      <path class='nav-piece' target='6' fill='#513E37' fill-opacity='0.5' stroke='none' />
    </svg>