#twelve.panel.img
  :plain
    <div class='quarter-panel'>
      <div class='overlay'>
        <p>DEBARKATION</p>
      </div>
    </div><div class='quarter-panel'>
      <div class='overlay'>
        <p>ARRIVAL</p>
      </div>
    </div><div class='quarter-panel'>
      <div class='overlay'>
        <p>CAMP</p>
      </div>
    </div><div class='quarter-panel'>
      <div class='overlay'>
        <p>TAKEAWAYS</p>
      </div>
    </div>
    <!--
    .quarter-panel
      .overlay
        %p DEBARKATION
    .quarter-panel
      .overlay
        %p ARRIVAL
    .quarter-panel
      .overlay
        %p CAMP
    .quarter-panel
      .overlay
        %p TAKEAWAYS
    -->
  .twelve-circle
    %p 2012