#twelve.panel.img
  .twelve-container
    %table.twelve-nav
      %tr
        %td.twelve-link MISSION
        %td.twelve-link PHILOSOPHY
        %td.twelve-link GAKKO, TODAY
        %td.twelve-link VISION