#twelve.panel.img
  .twelve-container
    %table.twelve-nav
      %tr
        %td.twelve-link ARRIVAL
        %td.twelve-link PREPARATION
        %td.twelve-link THE CAMP
        %td.twelve-link REFLECTIONS