/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #eadfd9;
  color: #fff;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  width: 100%;
  overflow: hidden;
}

.shadow {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.hide{
  height: 0;
  overflow: hidden;
  opacity: 0;
}

.asubcont{

  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
}

.subcont{
  font-size: 14px;
}

.navbar {
  overflow: hidden;
  padding: 10px 40px;
  top: 0;
  width: 100%;
  z-index: 99999;
  background-color: black;
  height: 30px;
  position: absolute;
  opacity: 0.4;
}

#menu {
  margin-top: 5px;
  margin-right: 60px;
}

#menu img {
  margin-right: 25px;
  float:left;
}

#menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-right: 25px;
  float: right;
}

#menu a:hover {
  text-decoration: underline;
}

#menu a#home-logo {
  float: left;
}

#twitter-link img, #facebook-link img {
  height: 30px;
  margin-top: -5px;
}

header {
  left: 30%;
  top: 30%;
  margin-top: -100px;
  margin-left: -220px;
  position: absolute;
}

#news {
  position: absolute;
  margin-top: 100px;
  margin-left: 60px;
  background: rgba(255, 255, 255, .5);
  color: #513e37;
  font-size: 18px;
  position: absolute;
  padding: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

#news h1 {
  color: #513e37;
  font-size: 16px;
  margin-bottom: 0;
}

.tweet {
  margin-top: 10px;
}

.tweet_text {
  line-height: 20px;
}

.tweet a {
  color: #a51d21;
  text-decoration: none;
}

.handle {
  font-weight: normal;
  color: #9e8f88;
  font-style: italic;
}

hgroup {
  margin-bottom: 50px;
}

form {
  float: left;
  width: 420px;
  padding: 10px 10px 10px 60px;
}

input, textarea {  
    border: solid 3px #9e8f88;
  float: left;
  padding: 10px 10px 10px 20px;  
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  outline: 0;  
  width: 328px;
  height: 20px;  
  background: #FFFFFF;
  font-size: 16px;
  color: #9e9f9f;
  -moz-box-shadow:    inset 0 0 5px #000000;
  -webkit-box-shadow: inset 0 0 5px #000000;
  box-shadow:         inset 0 0 5px #000000;
}

.submit-button {
  float: left;
  margin-left: 10px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 50px;
  height: 40px;
  background: #9e8f88 url('../img/right.png') center no-repeat; 
  border: none;
}

.submit-button:hover {
  background-color: #b9aaa4;
}

.submit-button:active {
  background-color: #9e8f88;
}

#success {
  float: left;
  padding: 11px 10px 9px 20px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  outline: 0;
  width: 328px;
  height: 20px;
  font-size: 16px;
  color: #9e9f9f;
  font-weight: normal;
  background: white;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 16px;
}

.hide-text {
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}

img {
  margin: auto;
}


.content {
  width: 50%;
  background: rgba(255, 255, 255, .7);
  color: #423A36;
  font-size: 18px;
  position: absolute;
  top: 15%;
  padding: 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  left: 5%;
  line-height: 24px;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;

}

.member img {
  width: 15%;
  float: left;
}

.member:before,
.member:after {
    content:"";
    display:table;
}
.member:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.member {
    zoom:1;
}

.memgroup {
  float: left;
  width: 75%;
  margin-left: 30px;
}

.minilogo {
  width: 30%;
}

h1 {
  color: #a51d21;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

.content h2 {
  font-weight: bold;
  padding: 10px 0;
}

.content a h2 {
  color: #a51d21;
}

.content .subcont {
  margin-bottom: 20px;
}

.content .subcont:last-child {
  margin-bottom: 0;
}

.button {
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.button.selected {
  color: #a51d21;
}

.panel{
    width: 98%;
  min-height: 100%;
  position: absolute;
  background-color: #000;
  box-shadow: 4px -4px 4px rgba(0,0,0,0.2);
  margin-left: -102%;
  z-index:2;
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  -o-transition: all .6s;
  -ms-transition: all .6s;
  transition: all .6s;
}
.panel:target{
    margin-left: 0%;
    background-color: #eadfd9;
}