/* About page */

.about-container {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 100px 0;
  font: normal 30pt "PT Sans";
}

.about-nav {
  width: 100%;
}
$about-blue: #004D68;
.about-link {
  color: rgba($brown, 0.3);
  cursor: pointer;
  text-shadow: 0 1px 1px rgba(white, 0.25);
  &:hover {
    color: rgba($brown, 0.6);
  }
  &.selected {
    color: rgba($about-blue, 1.0);
    text-shadow: none; //0 1px 1px rgba(black, 0.25);
  }
  @include transition(color 0.2s);
}

.about-content {
  position: absolute;
  font-size: 0;
  opacity: 0;
  top: 200px;
  left: 0;
  width: 100%;
  height: 100%;
  &.shown {
    opacity: 1;
    z-index: 1;
  }
  > div {
    display: inline-block;
    vertical-align: top;
  }
  @include transition(opacity 0.2s);
}

.about-left {
  font: normal 13pt/18pt 'Quattrocento';
  width: 40%;
  margin-right: 10%;
  > p {
    margin-bottom: 10px;
  }
}

.about-right {
  position: relative;
  font-size: 18pt;
  line-height: 22pt;
  width: 50%;
}

$circle: 160px;
.circle {
  position: absolute;
  background-color: rgba($brown, 0.1);
  width: $circle;
  height: $circle;
  border-radius: $circle;
  padding: $circle/4;
  // Which makes width actually $circle * 1.5
  // text-align: center;
  text-indent: 40px;
  cursor: pointer;
  z-index: 0;
  &.camp {
    top: 10px;
    left: 0;
  }
  &.tech {
    top: -20px;
    left: $circle * 1.2;
  }
  &.tank {
    top: $circle * 1;
    left: $circle * 0.75;
    text-indent: 10px;
  }
  &:hover {
    z-index: 1;
    > .circle-overlay {
      opacity: 1;
    }
  }
}

.circle-text {
  margin-top: $circle/4;
  text-shadow: 0 1px 1px rgba(white, 0.25);
}

$overlay: $circle * 0.9;
$overlayOffset: ($circle - $overlay) * 0.5;
.circle-overlay {  
  position: absolute;
  top: $overlayOffset;
  left: $overlayOffset;
  width: $overlay;
  height: $overlay;
  border-radius: $overlay;
  // @circle on padding or else the width changes in a weird way 
  // and @offset isn't precise
  padding: $circle/4; 
  color: white;
  text-align: left;
  text-indent: 0;
  background-color: rgba($about-blue, 1);
  z-index: 10;
  opacity: 0;
  @include transition(opacity 0.1s);
  > .body-text {
    font: normal 10pt/12pt 'Quattrocento';
    > p {
      margin-top: 10px;
    }
  }
}





