.fancybox-nav {
  width: 60px;       
}

$f-size: 50px;
.fancybox-nav {
  span {
    visibility: visible;
    opacity: 0.5;
    @include transition(opacity 0.2s);
    background-position: 0 0;
    background-size: contain;
    background-repeat: no-repeat;
    height: $f-size;
    width: $f-size;
  }
  &:hover span {
    opacity: 1;
  }
}

.fancybox-next {
  right: -100px;
  span {
    background-image: url(/images/icons/fancybox-right.png);

  }
}

.fancybox-prev {
  left: -100px;
  span {
    background-image: url(/images/icons/fancybox-left.png);
  }
}

.fancybox-close {
  position: fixed;
  top: 40px;
  right: 60px;
  opacity: 0.5;
  background-image: url(/images/icons/fancybox-close.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: $f-size;
  width: $f-size;
  &:hover {
    opacity: 1;
  }
  @include transition(opacity 0.2s);
}