@import 'bourbon/bourbon';

@font-face {
  font-family: 'MyMyriad';
  font-style: normal;
  font-weight: 200;
  src: local("MyMyriad"), 
    url(/fonts/myriad/MyriadPro-LightSemiExt.otf) format("opentype");
}

@font-face {
  font-family: 'MyMyriad';
  font-style: normal;
  font-weight: normal;
  src: local("MyMyriad"), 
    url(/fonts/myriad/MyriadPro-Regular.otf) format("opentype");
}
@font-face {
  font-family: 'MyMyriad';
  font-style: normal;
  font-weight: bold;
  src: local("MyMyriad"), 
    url(/fonts/myriad/MyriadPro-Semibold.otf) format("opentype");
}

/* Global Variables */
$font: 12px;
$brown: #513E37;
$blue: #0081BB;
$red: #B82025;
$grey: #35383B;

.hidden { opacity: 0; }
.hide { display: none; }
.full-width { height:100%; width:100%; }
.bold {
  font-weight: bold;
}

/* Overarching styles */
html, body, .panel, .back {
  height: 100%;
  width: 100%;
}

body {
  font-family: "PT Sans", "HelveticaNeue-Light", sans-serif;
  font-weight: 200;
  font-size: $font;
  color: black;
}

a {
  color: $red;
  text-decoration: none;
  &:hover {
    color: darken($red, 10%);
    text-decoration: underline;
  }
  @include transition(all 0.2s);
}

#wrapper {
  min-width: 960px;
  position: relative;
  z-index: 0;
}

/* Nav */
#nav-container {
  position: fixed;
  z-index: 100;
}

#nav-logo {
  position: fixed;
  width: 20%;
  max-width: 280px;
  min-width: 150px;
  right: 0;
  bottom: 0;
}

.nav-piece {
  cursor: pointer;
}

#nav-captions {
  display: none;
}

.nav-caption {
  position: fixed;
  color: white;
  opacity: 0.9;
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  padding: 5px 3px 0 3px;
  &.highlight {
    color: $red;
    opacity: 1;
    $highlight: rgba(white, 0.5); 
    background-color: $highlight;
    @include box-shadow(0 0 5px 0 $highlight);
  }
  @include transition(all 0.2s);
}

/* Backgrounds */
#back-container {
  position: fixed;
  z-index: -100;
}

.back {
  background-size: cover;
  background-attachment: fixed;
  &:first-child, &:last-child {
    // background-image: url(/images/backgrounds/background2000.jpg);
    background-position: 0% 80%;
  }
  &:nth-child(2) {
    // background-image: url(/images/backgrounds/about2000.jpg);
    background-position: 0% 80%;
  }
  &:nth-child(3) {
    // background-image: url(/images/backgrounds/connect_small.jpg);
  }
  &:nth-child(4) {
    // background-image: url(/images/backgrounds/apply2000.jpg);
  }
}

/* Panels */
.panel {
  position: relative;
  overflow: hidden;
  height: 110%;
  &.img {
    background-color: transparent;
  }
  &.txt {
    background-image: url(/images/backgrounds/eggshell.jpg);
  }
}

@import "index";
@import "about";
@import "twelve";
@import "team";
@import "connect";
