@import 'base.less';

@font-face {
  font-family: 'Myriad SemiExt';
  font-style: normal;
  font-weight: 400;
  src: local("Myriad SemiExt"), 
    url(/fonts/myriad/MyriadPro-LightSemiExt.otf) format("opentype");
}

@font-face {
  font-family: 'Myriad SemiExt';
  font-style: normal;
  font-weight: 700;
  src: local("Myriad SemiExt"), 
    url(/fonts/myriad/MyriadPro-Regular.otf) format("opentype");
}
@font-face {
  font-family: 'Myriad SemiExt';
  font-style: normal;
  font-weight: 500;
  src: local("Myriad SemiExt"), 
    url(/fonts/myriad/MyriadPro-Semibold.otf) format("opentype");
}

/* Global Variables, styles */

@font: 12px;
@lineHeight: 16px;

.transparent {
  opacity: 0;
}

.hide {
  display: none;
}

/* Overarching styles */

html, body, #wrapper, .panel {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Myriad SemiExt", "HelveticaNeue-Light", helvetica;
  font-size: @font;
  line-height: @lineHeight;
  color: black;
  background-image: url(/images/backgrounds/background2000.jpg);
  background-size: cover;
  background-position: 0% 80%;
  background-attachment: fixed;
}

#wrapper {
  min-width: 960px;
}

@nav-width: 600px;
#nav-logo {
  position: fixed;
  width: @nav-width;
  height: @nav-width;
  right: -1*@nav-width / 2;
  bottom: -1*@nav-width * 0.45;
}

#nav-help {
  position: fixed;
  top: 0;
  left: 65%;
  width: 400px;
}

#nav-hide {
  text-decoration: underline;
  cursor: pointer;
}

// .back {
//   z-index: -100;
//   height: 100%;
//   width: 100%;
//   &.one {
//     background-image: url(/images/backgrounds/background2000.jpg);
//     background-position: 0% 80%;
//   }
//   &.two {
//     background-image: url(/images/backgrounds/about2000.jpg);
//     background-position: 0% 80%;
//   }
//   &.three {
//     background-image: url(/images/backgrounds/connect_small.jpg);
//   }
//   background-size: cover;
//   background-attachment: fixed;
// }

.panel {
  height: 110%;
  &.img {
    background-color: transparent;
  }
  &.txt {
    background-image: url(/images/backgrounds/creampaper.png);
    background-repeat: repeat;
  }
  position: relative;
  overflow: hidden;
}

@import "./index.less";
@import "./about.less";
@import "./team.less";
/* Index page */

#marker {
  position: absolute;
  top: 0;
  left: 50%;
}